@charset "UTF-8";

/*todas as demais mídias*/






@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url('../back-print.jpg');   /*desecessario*/
    }

    main{
        border: 2px solid black;
    }

    main::after{
        content: 'essa impressão foi feita por Tatianne  Lima';
        text-decoration: overline;
    }
    
    main h1{
        color: black;
    }
    
   
    
}

@media screen and (min-width: 768px) and (max-width: 992px){    /*TABLET*/
    body{
        background-image: url(../back-tablet.jpg);
        img#iphone{display: block;}

        img#iphone{display: none;}
        img#tablet{display: block;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: none;}
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {       /*DESKTOP*/
    body{
        background-image: url(../back-pc.jpg);
        img#iphone{display: none;}
        img#tablet{display: nonee;}
        img#print{display: none;}
        img#pc{display: block;}
        img#tv{display: none;}
    }

}

@media screen and (min-width: 1200px) {    /*GRANDES TELAS*/
    
        body{
        background-image: url(../back-tv.jpg);
        img#iphone{display: none;}
        img#tablet{display: none;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: block;}
        }

}